
/* css for nav */

.navbar {
    background-color: #008080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar .logo img {
    height: 50px;
}

.navbar .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar .nav-links a  {
color: #ffffff;
text-decoration: none;
font-size: 18px;


}

.navbar .search input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}



.navbar .search .material-icons {
    font-size: 20px;
    color: #ffffff;
}

.navbar .search button:hover {
    background-color: #e5e5e5;

}



/* css for google fonts */
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150;
    color:#E57F3D ;
  }


  .ysabeau-sc {
    font-family: "Ysabeau SC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 100;
    color: #36454F; 
  }
  

  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #008080;
  }




/* css for index.html */
.aside1 {
    width: 20%;
    padding: 10px;
    font-size: 120%;
    float: right;
    object-fit:cover ;
    margin-right: 15%;

}

.aside2{
    float: left;
    margin-right: 15%;
}



/* css for pets.html */
.aside3 {
    float: left;
    object-fit:cover ;
    margin-right: 5%;
    

}

.aside4{
    float: right;
    margin-left: 5%;
    
}



/* css for add.html  */
.file-upload {
    display: flex;
    align-items: center; 
    gap: 10px;
}

.file-upload label {
    margin-right: 10px; 
}

.max-size {
    color: red;
    font-size: 9px; 
    margin-right: 70%;
    white-space: nowrap; 
}

.form-buttons {
    display: flex;
    justify-content: center; 
    gap: 30px; 
}

.submit-btn, .clear-btn {
    padding: 5px 15px; 
    border-radius: 50px; 
    font-size: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 1px 32x rgba(0, 0, 0, 0.1); 
}

.submit-btn {
    background-color: #008080;
    color: white; 
}

.clear-btn {
    background-color: transparent; 
    color: #008080; 
    border: 2px solid #008080; 
}

.submit-btn:hover, .clear-btn:hover {
    opacity: 0.9; 
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 1;
    font-size: 0.5px; 
   
  }



  /* css for gallery.html */

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 250px); 
    gap: 0; 
    padding: 0; 
    margin-left: 20%;
}

.gallery-item {
    border-radius: 5px; 
    overflow: hidden; 
    text-align: center; 
    margin: 2px; 
    max-width: 175px;
    flex-wrap: wrap; 
    justify-content: space-around;
    border: 1px solid #c2c2c2;
    
}

.gallery-item img {
    width: 100%; 
    height: auto; 
    display: block;
    object-fit: cover;
    margin-left: 0%;
}

.gallery-item p {
    margin: 0;
    padding: 10px; 

    border-radius: 0 0 25px 25px; 
    font-size: 10px; 
    font-family:Poetsen One ;
    bottom: 0;
    left: 0;
    right: 0;

}

.container {
    max-width: 90%; 
    margin:  auto; 
}






/* footer css */
.footer {
    background-color:#E57F3D ; 
    color:#36454F  ;
    font-size: 10px; 
    text-align: center; 
    padding: 13px;
    font-family:Ysabeau SC ;
    align-items: baseline;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    bottom: 0;
 
}
